body{
    font-family: Robot;

}

header{
    background-color: #1f2937 ;
}

.hero{
    background-color: #1f2937 ; 
    display: flex;
    flex-direction: row;
}

.hero-content h1{
    color:#f9faf8;
    font-size: 48px;
    font-weight: 900  ;
}

.hero-content p, nav{
    font-size: 18px;
    color: #E5E7EB;
}

h1{
    size: 24px;
    color: #F9FAF8;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.hero-content button {
    background-color: #3882f6;
    border-radius: 15%;
    color:#f9faf8 ;
}