body{
    font-family: Roboto;

}

.section-header{
    background-color: #1f2937 ;
    display: flex;
    flex-direction: row;
}

a:link{
    color: #F9FAF8;
}

a:visited{
    color: #F9FAF8;
}

a:hover{
    color: gray;
}

a:active{
    color: white;
}

nav {
    justify-content: end;
}

.hero{
    background-color: #1f2937 ; 
    display: flex;
    flex-direction: row;
}

.hero-content h1{
    color:#f9faf8;
    font-size: 48px;
    font-weight: 900  ;
}

.hero-content p, nav{
    font-size: 18px;
    color: #E5E7EB;
}

h1{
    width: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: start;
}

.hero-content button {
    background-color: #3882f6;
    border-radius: 15%;
    color:#f9faf8 ;
    margin: 20px;
}